/*navbar*/
li {
    display: inline;
}

nav li {
    float: right;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 7px 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

li a:hover {
    color: rgb(119, 118, 118);
    text-decoration: underline;
}

#signin { 
    background-color:#4683ea;
    color: white;
    display: block;
    text-align: center;
    padding: 7px 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    border: 1px solid #4285f4;
    border-radius: 5%;
}

#apps {
        height: 21px;
        width: 21px;
}

/*logo*/
#logo{
    height: 6em;
    width: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

/*search bar*/
#search{
    margin-top: 1em;
    height: 2.5em;
    width: 38em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*butoes*/
#butoes{
    margin-top: 2em;
    display: block;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/*footer*/

footer > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li {
    float: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f2f2f2;
    text-align: center;
    border-top: 1px solid #e4e4e4;
}

footer li a {
    color: #666;
    font-size:14px;
}

